.homepage-image {
    width: 100%;
    height: auto;
}

.homepage-container {
    display: flex;
    flex-direction: column;
}

.button {
    background-color:transparent;
    color: var(--eco-blue);
    font-size: 20px;
    border: none;
    margin:0.5vw;
    cursor: pointer;

}

.buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px
}

.top-bar {
    justify-content:center;
    align-items:center;
    align-content: center;
    /* background-color: #e8e8e85c; */
    height: auto;
    display: flex;
    position:fixed;
    flex-direction:column;
    z-index: 1;
    width: 100%;
}

.video-container {
    width: 100vw;
    height:0;
    padding-bottom:100vh;
    margin-top: -20px;
    position: relative;
}

.tagline {
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, 10%);
    font-size: 65px;
    font-weight: lighter;
    color:var(--eco-yellow);
    text-align: left;
}

.video-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    
}