body {
    font-family: Arial, Helvetica, sans-serif;

}



.frame {

    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50vw;
    height: 70vh;
    max-height: 85vh;
    border-radius: 10px;
    background-color:var(--eco-blue);
    margin-top: 50px;
    margin-left: 350px;

}

.inputs {
    
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1.5vh;

}

.username1{
    width:50%;
    margin:1.5vh;
}
.password1{
    width:50%;
    margin:1.5vh;
}

.forgot-password{
    color: var(--eco-yellow);
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    font-weight: lighter;
    width: 50%;
    text-decoration: underline;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1.5vh;
}


.signup{
  
    color: var(--eco-yellow);
    font-size: 15px;
    margin-top: 3vh;
}

.signuplink{
    border: transparent;
    background-color: transparent;
    text-decoration: underline;
    color: var(--eco-green);
    font-size: 15px;
}
