.map-modal-backdrop {
    position: fixed;
    top: 150px;
    left: 50px;

   
  }
  
  .map-modal-content {
    background-color: var(--eco-blue);
    color: white;
    padding: 60px;
    border-radius: 10px;
    margin-right: 20px;
  }

.custom-tooltip {
  color:black;
  font-size: larger;
}

.search-engine{
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 50px; */
}

.search-engine input{
  margin-left: 500px;
  width: 30vw;
}

.search-results-dropdown{
  margin-left: 510px;
  background-color: white;
  width: 30vw;
  border-radius: 5px;
  color: grey;
  padding:5px;
}

.search-result-item:hover{
  background-color: var(--eco-blue);
  color: white;
  cursor: pointer;
}

.search-engine button{
  /* margin-left: 500px; */
  width: 10vw;
  background-color: var(--eco-blue);

}



