@keyframes popUp {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.popUpContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(92, 219, 149, 0.95); 
}

.popUpContent {
  background-color: #5CDB95; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: popUp 0.5s ease forwards;
  font-size: 24px;
  color: #ffffff;
}

.sparkles {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.sparkles {
  content: '';
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  transform: translate(-50%, -50%);
}

.sparkles {
  left: 75%;
  animation: sparkleAnim 1.2s ease-in-out infinite;
}

@keyframes sparkleAnim {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
      opacity: 0;
  }
}
