.profile-photo {
    border-radius: 50px;
    height: 15%;
    width: 15%;    
}

.user-det {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    font-size: xx-large;
    color: var(--eco-blue);
    font-weight: bold;
    margin-left: 600px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30px;
}

.edit-btn {
    width: 55%;
    border-radius: 10px;
    font-size: larger;
    height: 50px;
    border-radius: 0px;
    border-top: 0.5px solid rgb(200, 200, 200);
}