.resetpassword {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #5CDB95;
    flex-direction: column;
}

.heading {
    position: relative;
    color: #05486B;
    font-family: Open Sans;
    font-size: 86px;
    height: 100vh;
    text-align: center;
    text-decoration: none;
    left: 10px;
}

body {
    font-family: 'Lucida Sans';
}

.heading span {
    color: #EDF5E1;
    font-family: Open Sans;
    font-size: 86px;
    height: 100vh;
}

.Auth-form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 952px;
    height: 450px;
    border-style: solid;
    background-color: #EDF5E1;
}

.reset-password {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;

}

.reset-password h2 {
    color: black;
}

.reset-password label {
    display: block;
    margin-bottom: 14px;
    bottom: 50px;
}

.reset-password input {
    width: 95%;
    padding: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 160px;
}

input {
    padding: 0.7rem;
    border-radius: 50px;
    font-size: medium;
}

button {
    border: none;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;


}

.resetpasswordbutton {
    position: absolute;
    padding: 5px 5px;
    font-size: 20px;
    background-color: #05386B;
    color: #EDF5E1;
    border-radius: 5px;
    top: 140px;
    left: 395px;
}




h2 {
    font-size: 27px;
    bottom: 140px;
    position: relative;
}

p {
    font-size: 15px;
    position: relative;
    bottom: 170px;
    color: purple;
    font-weight: bold;
}