.title-1{

    color:var(--eco-green);
  
 
}       

.title-2{

    color: var(--eco-blue);
}

.mainTitle{
    display: flex;
    flex-direction: row ;
    padding:1vh;    
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contained-button{
    background-color: var(--eco-green);
    width: 50%;
    height: auto;
    padding: 1vh;
    margin: 1.5vh;
    font-size: 22px;
    border-radius: 5px;
    color: var(--eco-yellow);
}

.outline-button{
    border-style: solid; 
    border-width: 1px; 
    border-color: var(--eco-blue);
    background-color: var(--eco-yellow); 
    width: 50%;
    height: auto;
    padding: 1vh;
    margin: 1.5vh;
    font-size: 22px;
    border-radius: 5px;
    color: var(--eco-blue);
}

.text-button{
    background-color: transparent;
    font-size: 22px;
    margin: 1.5vh;
    color: var(--eco-yellow);
}

.subtitle{
    font-weight: bold;
    font-size: 35px;
    color: var(--eco-yellow);
    margin:4vh;
}

.frame {

    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    background-color:var(--eco-blue);
    margin-top: 50px;
    margin-left: 350px;

}