body {
    background-color: #5cdb95;
}

.container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 200px 50px 200px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    font-size: 25px;
    color: #05386B;
}

.heading {
    position: relative;
    color: #05486B;
    font-family: Open Sans;
    font-size: 86px;
    height: 100vh;
    text-align: center;
    text-decoration: none;
    left: 10px;
}

img {
    justify-self: center;
    grid-row: 1 / 1;
    grid-column: 1 / 5;
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

input {
    width: 50px;
    height: 20px;
    border: 2px solid #b9c9bb;
    border-radius: 6px;
    -webkit-text-fill-color: #636262;
}

div[class="TOSForm"] {
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: #def2d9;
    width: 1000px;
    height: 600px;
    border: solid 2px #b9c9bb;
    border-radius: 5px;
}

div[id="t&c"] {
    overflow: auto;
    background-color: white;
    height: 300px;
    width: 600px;
    grid-row: 2;
    grid-column: 2 / 4;
    justify-content: center;
    align-items: center;
    border: solid 2px #b9c9bb;
    border-radius: 5px;
}

button[type="confirm"] {
    background-color: #def2d9;
    grid-row: 5;
    grid-column: 2;
    font-size: large;
    font-weight: bold;
}

button[type="cancel"] {
    background-color: #def2d9;
    grid-row: 5;
    grid-column: 3;
    font-size: large;
    font-weight: bold;
}

input[type="checkbox"] {
    grid-row: 3;
    grid-column: 2;
    justify-self: left;
    position: relative;
    right: 20px;
}

label[for="agree"] {
    grid-row: 3;
    grid-column: 2 / 4;
    font-size: 16px;
}